<!doctype html>
<html lang="de">
	<head>
		<meta charset="utf8">
		<title>Predigten von C.G.Schnabel</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="./main.css">
	</head>
<body>
<header>
<h1>Predigten von C.G.Schnabel</h1>
</header>
<section>
<p>Auf dieser Seite werden eine Reihe von Evangelisch-Lutherischen Predigten aus der Sammlung von Pastor C.G.Schnabel veröffentlicht.</p>
</section>
{{ range .Feature }}<section>
<p>{{ .Text }}</p>
<ul>{{ range .Infos }}<li>
<a href="./{{.ID}}.html">{{ .String}}</a> vom {{.Date.Format "02.01.2006"}}
</li>{{ end }}</ul>
</section>{{ end }}
<section>
<p>Das Projekt digitalisiert Predigten ab dem 14.07.1985, die von Frau Erika Schöneich
maschienell aufgeschrieben wurden.</p>
<p><a href="./archiv.html">Archiv</a> mit {{ .Count }} Predigten</p>
</section>
{{ template "footer.html" }}
</body>
</html>
