<!doctype html>
<html lang="de">
	<head>
		<meta charset="utf8">
		<title>{{.String}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="./main.css">
	</head>
<body>
<header>
	<h1>{{.String}}{{ if .Sunday }} zum {{.Sunday}}{{ end }}</h1>
<a href="./">Zurück</a>{{ range $i, $v := .Ev.Vers }}{{ if (ne $v.ID $.ID) }}
<a href="./{{$v.ID}}.html">{{$v.String}}</a>{{ end }}{{ end }}
</header>
<section>
{{range .Doc }}<p>{{ range .Lines }} {{ . }}
{{end}}</p>{{end}}
</section>
{{ template "footer.html" }}
</body>
</html>
