
html, body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-kerning: normal;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 24px;
}
header, section, footer {
	margin-left: 6em;
	max-width: 50em;
}
pre {
	font-family: inherit;
}
ul li {
	list-style: none;
}
